<h1>Sign up</h1>
<p>Thank you for your interest in the ITA APIs. <br/><br/>
On October 2, 2019, we launched an upgraded ITA Developer Portal. This upgrade will provide increased platform stability and improved security, providing you, our customers, with a more robust API platform.</p>
<p class="notice"><a href="https://internationaltradeadministration.github.io/DevPortalMessages/DevPortalUpgrade.html">Read more here</a></p>
