---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/capta_list.aspx&title=ScreeningList::Cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"af31c0b814427733de1e999ebb516bde0d1a1f39"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://bit.ly/2PqohAD",
        "aggregate_link": "http://bit.ly/2L3PIj9", "long_url": "https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/capta_list.aspx",
        "new_link": 0, "user_hash": "2PqohAD"}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Mon, 28 Oct 2019 02:30:46 GMT
recorded_with: VCR 4.0.0
