---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://home.treasury.gov/policy-issues/financial-sanctions/consolidated-sanctions-list/ns-ccmc-list&title=ScreeningList::Ccmc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"02a4145f23be5efd64e688f7bfb493ce60b67d89"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "https://bit.ly/3wKD0sP",
        "aggregate_link": "http://bit.ly/3wxqexz", "long_url": "https://home.treasury.gov/policy-issues/financial-sanctions/consolidated-sanctions-list/ns-ccmc-list",
        "new_link": 1, "user_hash": "3wKD0sP"}}, "status_txt": "OK"}'
  recorded_at: Tue, 25 May 2021 12:05:30 GMT
recorded_with: VCR 4.0.0
