---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://home.treasury.gov/policy-issues/financial-sanctions/consolidated-sanctions-list/ns-cmic-list&title=ScreeningList::Cmic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"573ae8b5281b289f763cc6fe5054e5a6acaee435"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "https://bit.ly/3zsMQ4n",
        "aggregate_link": "http://bit.ly/3ztqC2g", "long_url": "https://home.treasury.gov/policy-issues/financial-sanctions/consolidated-sanctions-list/ns-cmic-list",
        "new_link": 1, "user_hash": "3zsMQ4n"}}, "status_txt": "OK"}'
  recorded_at: Mon, 14 Jun 2021 21:56:04 GMT
recorded_with: VCR 4.0.0
