---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://home.treasury.gov/policy-issues/financial-sanctions/recent-actions/20210114_44&title=ScreeningList::Eo13959
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8ea9d3ecb7129d6ed7949d63703ddfdf51a12502"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "https://bit.ly/3vmwesL",
        "aggregate_link": "http://bit.ly/39zhpJF", "long_url": "https://home.treasury.gov/policy-issues/financial-sanctions/recent-actions/20210114_44",
        "new_link": 0, "user_hash": "3vmwesL"}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Mon, 24 May 2021 22:13:02 GMT
recorded_with: VCR 4.0.0
