---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://home.treasury.gov/policy-issues/financial-sanctions/consolidated-sanctions-list/non-sdn-menu-based-sanctions-list-ns-mbs-list&title=ScreeningList::Mbs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"84207adbe494f35c5e29e9ca465314672c7920aa"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "https://bit.ly/2MbsybU",
        "aggregate_link": "http://bit.ly/2JUIfTX", "long_url": "https://home.treasury.gov/policy-issues/financial-sanctions/consolidated-sanctions-list/non-sdn-menu-based-sanctions-list-ns-mbs-list",
        "new_link": 0, "user_hash": "2MbsybU"}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Tue, 02 Mar 2021 01:58:14 GMT
recorded_with: VCR 4.0.0
